JAI MAA SARASWATI

In [1]:
import dns.resolver

ModuleNotFoundError: No module named 'dns'

Q1. What is MongoDB? Explain non-relational databases in short. In which scenarios it is preferred to use
MongoDB over SQL databases?

^_^ MONGODB IS A POPULAR OPEN-SOURCE NO-SQL(NON-RELATION) DATABASE MANAGEMENT SYSTEM . IT IS DESIGNED TO STORE
    MANAGE,AND RETRIEVE DATA IN FLEXIBLE , SCALABLE AND HIGH-PERFORMANCE MANNER . MONGODB IS CLASSIFIED AS A 
    DOCUMENT-ORIENTED DATABASE, WHICH MEANS IT STORES DATA IN FLEXIBLE , JSON-LIKE DOCUMENT RATHER THAN TRADITIONAL 
    ROWS AND COLUMNS AS SEEN IN REALTIONAL DATABASE .
    
+_+ A NON RELATION DATABASE , OFTEN REFFERD TO AS NO-SQL(NOT ONLY SQL) DATABASE , IS A TYPE OF DATABASE MANAGEMENT
    SYSTEM THAT DOES'NOT USE THE TRADITINAL TABULAR DATABASE MODEL. INSTEAD OF USING TABLES WITH ROWS AND COLUMNS
    NO-SQL DATABASE EMPLOY VARIOUS DATA MODELS , SUCH AS DOCUMENT ORIENTED-KEY , KEY VALUE PAIR , WIDE-COLUMNS STORE
    OR GRAPH DATABASE .
    
*_* MONGODB IS OFTEN PREFERRED OVER SQL DATABASE IN CERTAIN SCENARIOUS DUE TO ITS SPEFCIFIC FEATURES AND 
    ADVANTAGES . HERE ARE SOME EXAMPLE AND FEATURE OF MONGODB :-
    
1. FLEXIBLE SCHEMA => MONGODB SCHEMA LESS-DESIGN ALLOWS FOR FLEXIBLE AND DYNAMIC DATA-STRUCTURE . THIS IS BENIFICIAL 
                      WHEN THE DATA SCHEMA IS LIKELY TO EVOLVE OVER TIME OR WHEN DEALING WITH DIVERSE AND RAPIDLY
                      DATA CHANGE .
                      
2 . DOCUMENT-ORIENTED DATA =>  IF WE CAN REPRESENTED IN JSON-LIKE DOCUMENT FORMAT AND DOESNOT FIT WELL INTO TRADITIONAL 
                               ROWS AND COLUMN , MONGODB DOCUMENT - ORIENTED MODEL PROVIDE A NATURAL WAY TO STORE AND 
                               QUERY SUCH DATA .
                               
3 . HORIZONTAL SCALABILITY =>  MONGODB IS DESIGNED FOR HORIZONTAL SCALING, MAKING IT WELL-SUITED FOR SCENARIOUS WITH 
                               GROWING DATA AND INCREASED PERFORMANCE REQIREMENT . IT CAN EASILY DISTRIBUTE DATA ACROSS
                               MULTIPLE SERVERS , ALLOWING FOR SEAMLESS SCALABILITY . 
                               
4 . DEVLOPMENT SPEED => IN AGILE DEVELOPMENT ENVIRONMENTS WHERE RAPID ITEATIONS AND FREQUENT CHANGE TO THE DATA MODEL 
                        ARE COMMON , MONGODB FLEXIBLE SCHEMA AND  DYNAMIC NATURE CAN EXPEDITE DEVELOPMENT WITHOUT THW NEED
                        FOR CONSTANT SCHEMA MODIFICATIONS .
                        
5 . CACHING AND REAL-TIME APPLICATION => MONGODB CAN BE EFFECTIVE FOR CACHING AND REAL-TIME APPLICATIONS WHERE QUICK 
                                         READ AND WRITE OPERATIONS ARE CRUCIAL . ITS IN MEMORY STORAGE ENGINE CAN BE 
                                         ENHANCE THE PERFORMANCE IN THIS SCENRIOUS .

Q2 - STATE AND EXPLAIN THE FEATURES OF MONGODB .

ANSWER => MONGODB IS WIDELY USED No_SQL DATABASE THAT IS KNOWN FOR ITS FLEXIBILITY , SCALAIBILTY AND EASY FOR USE .

HERE ARE SOME KEY FEATURES OF MONGODB :- 


^_^ DOCUMENT OREIENTED :-
 
MONGODB IS A DOCUMENT ORIENTED  DATABASE WHICH MEANS  IT STORE DATA IN FLEXIBLE LIKE - JSON , BSON(BINAR JSON) DOCUMENT 
THE FLEXIBILTY ALLOWS THE DEVELOPER TO WORK WITH DATA IN A WAY THAT IS NATURAL AND INTUTIVE .

^_^ SCHEMA-LESS :- 

UNLIKE TRADITIONAL RELATIONAL DATABASE, MONGODB IS SCHEMA-LESS . THIS MEANS THAT DOCUMENTS IN THE SAME COLLECTION(SIMILAR TO TABLE IN RELATIONAL DATABASE ) CAN HAVE DIFFERENT FIELDS AND DATA TYPES OFFERING MORE FLEXIBILITY IN DATA MODELING .

^_^ SCALABILITY :-

MONGODB IS DESIGNED TO SCALE HORIZONTALLY, MAKING IT EASY TO SCALE OUT BY ADDING MORE SERVERS TO HANDLE INCREASED LOAD .
IT SUPPORT SHARDING, ALLOWING DATA TO DISTRIBUTE ACROSS MULTIPLE SERVERS AND REPLICA SETS FOR HIGH AVALIBILTY AND FAULT
TORANCE .

^_^ INDEXES :- MONGODB SUPPORT VARIOUS TYPES OF INDEXES INCLUDING COMPOUND INDEXES , GEOSPATITAL INDEXES , AND TEXT INDEX 
INDEX HELP TO IMPROVE QUERY PERFORMANCE BY ALLOWING THE DATABASE TO QUICKLY LOCATE AND RETRIEVE SPECIFIC DOCUMENT .

Q3. Write a code to connect MongoDB to Python. Also, create a database and a collection in MongoDB.

In [ ]:
pip  install dnspython

In [2]:
pip  install pymongo

Collecting pymongo
  Downloading pymongo-4.6.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (677 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 677.1/677.1 kB 15.1 MB/s eta 0:00:0000:01
Collecting dnspython<3.0.0,>=1.16.0
  Downloading dnspython-2.4.2-py3-none-any.whl (300 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 300.4/300.4 kB 31.6 MB/s eta 0:00:00
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.4.2 pymongo-4.6.0
Note: you may need to restart the kernel to use updated packages.

In [3]:
  pip install "pymongo[srv]"

Requirement already satisfied: pymongo[srv] in /opt/conda/lib/python3.10/site-packages (4.6.0)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in /opt/conda/lib/python3.10/site-packages (from pymongo[srv]) (2.4.2)
Note: you may need to restart the kernel to use updated packages.

In [4]:
import pymongo 

from pymongo.mongo_client import MongoClient
from pymongo.server_api import ServerApi

uri = "mongodb+srv://shubhamshah8099:sitashubham75@cluster0.gxh6afe.mongodb.net/?retryWrites=true&w=majority"

client = MongoClient(uri, server_api=ServerApi('1'))
db = client.test
# This is the Code to connect mongodb with python .

In [5]:
pip install pymongo

Requirement already satisfied: pymongo in /opt/conda/lib/python3.10/site-packages (4.6.0)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in /opt/conda/lib/python3.10/site-packages (from pymongo) (2.4.2)
Note: you may need to restart the kernel to use updated packages.

In [6]:
db

Database(MongoClient(host=['ac-hmhjxvl-shard-00-02.gxh6afe.mongodb.net:27017', 'ac-hmhjxvl-shard-00-00.gxh6afe.mongodb.net:27017', 'ac-hmhjxvl-shard-00-01.gxh6afe.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-i91g01-shard-0', tls=True, server_api=<pymongo.server_api.ServerApi object at 0x7f6686d6ddb0>), 'test')

In [7]:
uri = "mongodb+srv://shubhamshah8099:sitashubham75@cluster0.gxh6afe.mongodb.net/?retryWrites=true&w=majority"

In [8]:
db = client['panda']

In [9]:
data = {"name" : "shubham_sha",
        "adress" : "mirzapur bihar inida",
        "time" : "advanced"}

In [10]:
coll_panda = db['my_life']

In [11]:
coll_panda.insert_one(data)

InsertOneResult(ObjectId('655629debb9c9ee14f9beb01'), acknowledged=True)

From the Above example shows That's How we Can Make Database and Create a collection .

Q4. Using the database and the collection created in question number 3, write a code to insert one record,
and insert many records. Use the find() and find_one() methods to print the inserted record.

In [12]:
# let us we use our database 'panda' and collecton 'coll_panda' to perfrom the given Task .
# firstly we create and record and iterate with the help of one and many one and print in our console .

In [13]:
data1 = {"name" : "sshubham_shah",
         "subject" : "python" ,
         "assigment" : "mongodb",
         "performance" : "trying to give me my best"}

In [14]:
# firstly we insert one type of Data into our collection .
coll_panda.insert_one(data1)

InsertOneResult(ObjectId('655629debb9c9ee14f9beb02'), acknowledged=True)

In [15]:
# now we insert many one data in our collection
data2 = [{ "name" : "sshubham_shah",
          "core" : "intel",
          "ram" : "twelve gb",
          "computer_company" : "HP",
          "school" : "kendriya vidyalaya sonpur",}]

In [16]:
coll_panda.insert_many(data2)

InsertManyResult([ObjectId('655629debb9c9ee14f9beb03')], acknowledged=True)

 from the above the example shows that how we can put our data by using many & one

In [17]:
# now let us finding our data by using for loop for iterations .
for i in coll_panda.find():
    print(i)
# By using the find all they show all the data stored by us .

{'_id': ObjectId('6555d52dfaf45bbde86f9e48'), 'name': 'shubham_sha', 'adress': 'mirzapur bihar inida', 'time': 'advanced'}
{'_id': ObjectId('6555d997faf45bbde86f9e49'), 'name': 'sshubham_shah', 'subject': 'python', 'assigment': 'mongodb', 'performance': 'trying to give me my best'}
{'_id': ObjectId('6555da7dfaf45bbde86f9e4a'), 'name': 'sshubham_shah', 'core': 'intel', 'ram': 'twelve gb', 'computer_company': 'HP', 'school': 'kendriya vidyalaya sonpur'}
{'_id': ObjectId('655629debb9c9ee14f9beb01'), 'name': 'shubham_sha', 'adress': 'mirzapur bihar inida', 'time': 'advanced'}
{'_id': ObjectId('655629debb9c9ee14f9beb02'), 'name': 'sshubham_shah', 'subject': 'python', 'assigment': 'mongodb', 'performance': 'trying to give me my best'}
{'_id': ObjectId('655629debb9c9ee14f9beb03'), 'name': 'sshubham_shah', 'core': 'intel', 'ram': 'twelve gb', 'computer_company': 'HP', 'school': 'kendriya vidyalaya sonpur'}

In [18]:
# Now let us we Are using the Find_one . this will help us to find a specific stored data of a collection .

coll_panda.find_one(data1)

{'_id': ObjectId('655629debb9c9ee14f9beb02'),
 'name': 'sshubham_shah',
 'subject': 'python',
 'assigment': 'mongodb',
 'performance': 'trying to give me my best'}

From the above example shows that how we can find all record or a specific data of our database(collection)

Q5. Explain how you can use the find() method to query the MongoDB database. Write a simple code to
demonstrate this.

AMSWER => IN MONGODB, 'FIND()' METHOD IS USED TO QUERY DOCUMENT IN A COLECTION . IT ALLOWS US TO SPECIFY CRITERIA TO FILTER
          DOCUMENT WE WANT TO RETRIEVE . THE BASIC SYNTAX OF THE 'FIND()' IS AS FOLLOW :- 
          
let us taking an example of this method :-

In [22]:
list_of_record = [
    {'company Name' : 'sshubham',
     "product Name" : "software_development"},
    {"company Name" : "sshubham",
     "product Name" : "data science"},
    {"company Name" : "sshubham",
     "prodcut Name" : "data entry"},
    {"company Name" : "sshubham",
     'product Name' : "corex"}]

In [23]:
coll_panda.insert_many(list_of_record)

InsertManyResult([ObjectId('65562a3dbb9c9ee14f9beb08'), ObjectId('65562a3dbb9c9ee14f9beb09'), ObjectId('65562a3dbb9c9ee14f9beb0a'), ObjectId('65562a3dbb9c9ee14f9beb0b')], acknowledged=True)

In [24]:
for i in coll_panda.find({'company Name' : 'sshubham' }):
    print(i)

{'_id': ObjectId('655629debb9c9ee14f9beb04'), 'company Name': 'sshubham', 'product Name': 'software_development'}
{'_id': ObjectId('65562a3dbb9c9ee14f9beb08'), 'company Name': 'sshubham', 'product Name': 'software_development'}
{'_id': ObjectId('65562a3dbb9c9ee14f9beb09'), 'company Name': 'sshubham', 'product Name': 'data science'}
{'_id': ObjectId('65562a3dbb9c9ee14f9beb0a'), 'company Name': 'sshubham', 'prodcut Name': 'data entry'}
{'_id': ObjectId('65562a3dbb9c9ee14f9beb0b'), 'company Name': 'sshubham', 'product Name': 'corex'}

from the above the example shows that how we can find a specific data from our database with the help of Find()

Q6. Explain the sort() method. Give an example to demonstrate sorting in MongoDB.

^_^ THE SORT() METHOD  IN THE MONGODB IS USED TO SORT THE DOCUMENT IN A COLLECTION BASED ON THE SPECIFIED CRITERIA . 
    IT TAKE ONE PARAMETER, AN OBJECT THAT DEFINES THE FIELDS TO SORT ON AND THE SORT ORDER(ASCENDING OR DECENDING)

In [47]:
company_details = [
    {"company Name" : "SSS",
     "Buget" : "235B",
     "year" : "2017",
     "product" : "software_develpoment"},
    {"company Name" : "SSS",
     "Buget" : "628B",
     "year" : "2005",
     "product" : "web scrapping"},
    {"company Name" : "SSS",
     "Buget" : "8926",
     "year" : "2006",
     "product" : "SSS"},
    {"company Name" : "SSS",
     "Buget" : "757575",
     "year" : "2020",
     "product" : "grocery"}]

In [48]:
coll_panda.insert_many(company_details)

InsertManyResult([ObjectId('65563bd8bb9c9ee14f9beb14'), ObjectId('65563bd8bb9c9ee14f9beb15'), ObjectId('65563bd8bb9c9ee14f9beb16'), ObjectId('65563bd8bb9c9ee14f9beb17')], acknowledged=True)

coll_company= db['corex']

In [56]:
coll_company.insert_many(company_details)

InsertManyResult([ObjectId('65563bd8bb9c9ee14f9beb14'), ObjectId('65563bd8bb9c9ee14f9beb15'), ObjectId('65563bd8bb9c9ee14f9beb16'), ObjectId('65563bd8bb9c9ee14f9beb17')], acknowledged=True)

In [64]:
 run = coll_company.find().sort({"year" : 1})

In [65]:
for i in run:
    print(i)

{'_id': ObjectId('65563bd8bb9c9ee14f9beb17'), 'company Name': 'SSS', 'Buget': '757575', 'year': '2020', 'product': 'grocery'}
{'_id': ObjectId('65563bd8bb9c9ee14f9beb14'), 'company Name': 'SSS', 'Buget': '235B', 'year': '2017', 'product': 'software_develpoment'}
{'_id': ObjectId('65563bd8bb9c9ee14f9beb16'), 'company Name': 'SSS', 'Buget': '8926', 'year': '2006', 'product': 'SSS'}
{'_id': ObjectId('65563bd8bb9c9ee14f9beb15'), 'company Name': 'SSS', 'Buget': '628B', 'year': '2005', 'product': 'web scrapping'}

In [66]:
run = coll_company.find().sort({"Buget" : 1})

In [67]:
for x in run:
    print(x)

{'_id': ObjectId('65563bd8bb9c9ee14f9beb14'), 'company Name': 'SSS', 'Buget': '235B', 'year': '2017', 'product': 'software_develpoment'}
{'_id': ObjectId('65563bd8bb9c9ee14f9beb15'), 'company Name': 'SSS', 'Buget': '628B', 'year': '2005', 'product': 'web scrapping'}
{'_id': ObjectId('65563bd8bb9c9ee14f9beb17'), 'company Name': 'SSS', 'Buget': '757575', 'year': '2020', 'product': 'grocery'}
{'_id': ObjectId('65563bd8bb9c9ee14f9beb16'), 'company Name': 'SSS', 'Buget': '8926', 'year': '2006', 'product': 'SSS'}

From the above Example shows that how we can sort our database collection according to accending order to Decending order

Q7. Explain why delete_one(), delete_many(), and drop() is used.

^_^ DELETE_ONE() :- IN A MONGODB DELETE ONE IS USED TO DELETE A SINGLE DATA THAT MATCHES THE SPECIFIED FILTER CRITERIA . 

^_^ DELETE_MANY() :- WHEN WE TO DELETE OR REMOVE THE MULTIPLE DOCUMENT BASED ON SPECIFIC CRITERIA . 

^_^ DROP() :- DROP IS USED WHEN WE WANT TO REMOVE OR DELETE THE ENTIRE COLLECTION . 


let us taking the example of these methods :-

In [68]:
lab = coll_company.delete_one({"Buget" : "8926" })

In [76]:
com = coll_company.delete_many({"year"  : "2020"})

In [78]:
coll_company.drop()